<br />
<br />
<h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">Artículos</h2>

<!-- List -->
<ul class="space-y-10">
  <li>
    <p class="mb-2 text-sm text-gray-500 dark:text-neutral-500">2025</p>
    <h5 class="font-medium text-sm text-gray-800 dark:text-neutral-200">
      El código invisible: Ética y responsabilidad en la inteligencia artificial
    </h5>
    <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">
      Un análisis profundo sobre cómo los principios éticos deben integrarse en cada línea de código de los sistemas de IA modernos.
    </p>
    <p class="mt-1">
      <a
        class="text-sm text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400"
        href="#"
      >
        Continuar leyendo
      </a>
    </p>
  </li>

  <li>
    <p class="mb-2 text-sm text-gray-500 dark:text-neutral-500">2024</p>
    <h5 class="font-medium text-sm text-gray-800 dark:text-neutral-200">
      Más allá de la vista: Diseño inclusivo para interfaces accesibles
    </h5>
    <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">
      Una guía práctica sobre accesibilidad web, basada en experiencias personales y el uso de herramientas de asistencia tecnológica.
    </p>
    <p class="mt-1">
      <a
        class="text-sm text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400"
        href="#"
      >
        Continuar leyendo
      </a>
    </p>
  </li>

  <li>
    <p class="mb-2 text-sm text-gray-500 dark:text-neutral-500">2023</p>
    <h5 class="font-medium text-sm text-gray-800 dark:text-neutral-200">
      El lado oscuro del algoritmo: seguridad y transparencia en la era digital
    </h5>
    <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">
      Un artículo que explora cómo la opacidad algorítmica puede afectar derechos fundamentales y cómo la ingeniería puede remediarlo.
    </p>
    <p class="mt-1">
      <a
        class="text-sm text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400"
        href="#"
      >
        Continuar leyendo
      </a>
    </p>
  </li>
</ul>
<!-- End List -->
