<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mí</h2>
  <hr class="mb-4 border-zinc-600">
  
  <div class="flex flex-col md:flex-row md:gap-6 items-start">
    <div class="flex-1 mb-6 md:mb-0">
      <p class="leading-6 text-base text-pretty mb-3 text-zinc-400">
       Soy un desarrollador backend con más de 8 años de experiencia en el diseño, desarrollo y optimización de sistemas empresariales basados en .NET. Especializado en la arquitectura de microservicios, integración de APIs RESTful y administración de bases de datos SQL Server y PostgreSQL. Mi enfoque combina un pensamiento analítico profundo y una constante búsqueda de soluciones innovadoras que impulsen la eficiencia y escalabilidad de los proyectos.
      </p>
      <p class="leading-6 text-base text-pretty mb-3 text-zinc-400">
        Apasionado por la investigación tecnológica, la automatización de procesos y la mejora continua del rendimiento de las aplicaciones.
    </div>
    
    <div class="flex-shrink-0 md:self-start">
      <div class="w-24 h-24 md:w-28 md:h-28 rounded-full overflow-hidden border-2 border-zinc-600 mx-auto md:mx-0">
        <img 
          src="/reed-richards.jpg" 
          alt="Foto de perfil"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>