---
import Net from "@assets/icons/net.astro";
import Csharp from "@assets/icons/csharp.astro";
import Javascript from "@assets/icons/javascript.astro";
import Postgresql from '@assets/icons/postgresql.astro';
import Sqlserver from '@assets/icons/sqlserver.astro';
import Bootstrap from '@assets/icons/bootstrap.astro';
import Git from '@assets/icons/sqlserver.astro';
import Css from '@assets/icons/css.astro';
import Html from '@assets/icons/html.astro';
import Azure from '@assets/icons/azure.astro';
import Aspnet from '@assets/icons/aspnet.astro';
---
<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Experiencia profesional</h2>
  <hr class="mb-4 border-zinc-600">
  
  <div class="mb-8 pb-6 border-l-2 border-zinc-700 pl-6 relative">
    <div class="absolute -left-2 top-2 w-3 h-3 bg-zinc-500 rounded-full"></div>
    
    <div class="mb-3">
      <h3 class="text-lg font-medium text-blue-400">Senior Backend Developer</h3>
      <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-2">
        <p class="text-base text-zinc-300">Stark Technologies Inc.</p>
        <span class="text-sm text-zinc-300 font-medium">2020 - Presente</span>
      </div>
    </div>
    
    <p class="leading-6 text-base text-pretty mb-3 text-zinc-400">
      Lideré la migración de una plataforma monolítica a una arquitectura basada en microservicios utilizando .NET 8 y Docker. Diseñé e implementé APIs RESTful para la comunicación entre sistemas internos y externos, garantizando una latencia mínima y mayor seguridad.
    </p>
    
    <div class="mb-3">
      <p class="text-sm font-medium text-zinc-200 mb-2">⭐ Actividades destacadas:</p>
      <ul class="text-sm text-zinc-400 space-y-1 ml-4">
        <li>• Implementé CI/CD con Azure DevOps</li>
        <li>• Administré bases de datos SQL Server y PostgreSQL</li>
        <li>• Colaboré con equipos multidisciplinarios</li>
      </ul>
    </div>
    
    <div class="flex flex-wrap gap-2 text-xs">
      <Net />
      <Csharp />
      <Postgresql />
      <Aspnet />
      <Html />
      <Css />
    </div>
  </div>
  
  <div class="border-l-2 border-zinc-700 pl-6 relative">
    <div class="absolute -left-2 top-2 w-3 h-3 bg-zinc-500 rounded-full"></div>
    
    <div class="mb-3">
      <h3 class="text-lg font-medium text-blue-400">Backend Developer & Database Administrato</h3>
      <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-2">
        <p class="text-base text-zinc-300">Pym Technologies</p>
        <span class="text-sm text-zinc-300 font-medium">2016 – 2020</span>
      </div>
    </div>
    
    <p class="leading-6 text-base text-pretty mb-3 text-zinc-400">
      Desarrollé módulos backend en .NET Core para la gestión de datos de sensores IoT utilizados en laboratorios y entornos de alta precisión. Gestioné la replicación y respaldo de bases de datos SQL Server y MongoDB, asegurando la integridad y disponibilidad de la información crítica.
    </p>
    
    <div class="mb-3">
      <p class="text-sm font-medium text-zinc-200 mb-2">⭐ Actividades destacadas:</p>
      <ul class="text-sm text-zinc-400 space-y-1 ml-4">
        <li>• Diseñé procedimientos almacenados</li>
        <li>• implementé políticas de seguridad</li>
        <li>• Documenté la arquitectura técnica</li>
      </ul>
    </div>
    
    <div class="flex flex-wrap gap-2 text-xs">
      <Csharp />
      <Net />
      <Sqlserver />
      <Javascript />
      <Bootstrap />
      <Azure />
    </div>
  </div>
</section>